body {
	margin:0px;
	padding:0px;
	background-color:#CCCCCC;
}
.Container {width:800px; height:auto; clear:both; overflow:auto; margin
:40px auto; background-color:#FFF;}
.Header { width:650px; height:100px; padding-left:120px; background-image:url(../seas-images/bannerlogo.png); background-repeat:no-repeat; background-position:center;  background-size: 250px 98px, 700px 200px; }
.Menu { height:50px; }
.LeftBody {
	padding:20px;
	width:350px;
	float:left;
	height:400px;
}
.RightBody {
	padding:20px;
	width:350px;
	float:right;
	height:auto;
}
.FormElement { width:350px; margin:6px auto; height:40px;}
.TField { width:350px; height:35px; border:1px solid #E0DFDF; padding-left:6px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;}
.button { width:200px; height:50px; border:0px solid; background-color:#003399; color:#FFFFFF; font-size:24px;}
.button:hover { background-color:rgba(26,8,114,1.00); color:#FFFFFF;}
.Footer { height:100px; }

.CenterBody{
	text-align: center;
	padding: 20px 0;
}
#addForm, #deleteForm, #searchForm, #updateForm{
	display: none;
}